.custom-row1-heading {
    /*border: 3px solid blue;*/
    /*padding-bottom: 0;*/
    /*margin-bottom: 0;*/
}

.custom-row2-search {
    border: 2px solid blue;
    padding-left: 10px;
    padding-bottom: 20px;
}

.custom-row3-content {
    /*border: 3px solid blue;*/
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}

.custom-row3-detail {
    /*border: 3px solid blue;*/
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}