<div class="container-fluid">
    <div class="row">
        <h2>Modify Book</h2>
        <div class="col-sm-12 col-lg-6">
            <form name="ModifyBookForm" ng-submit="ctrl.modify()" autocomplete="off">
                <div class="form-group">
                    <label for="modifyTitle">Title: </label>
                    <input type="text" class="form-control" name="modifyTitle" id="modifyTitle" value="ctrl.modifiedBook.title"
                           required ng-model="ctrl.modifiedBook.title">
                </div>
                <div class="form-group">
                    <label for="modifyAuthorLastName">Author Last Name: </label>
                    <input type="text" class="form-control" name="modifyAuthorLastName" id="modifyAuthorLastName"
                           required ng-model="ctrl.modifiedBook.author_lastname">
                </div>
                <div class="form-group">
                    <label for="modifyAuthorFirstName">Author First Name: </label>
                    <input type="text" class="form-control" name="modifyAuthorFirstName" id="modifyAuthorFirstName"
                           required ng-model="ctrl.modifiedBook.author_firstname">
                </div>
                <div class="form-group">
                    <label for="modifyImage">Cover Thumbnail: </label>
                    <input type="text" class="form-control" name="modifyImage" id="modifyImage"
                           required ng-model="ctrl.modifiedBook.cover_thumbnail">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" title="Modify" ng-disabled="ModifyBookForm.$invalid">
                        Save</button>
                    <button class="btn btn-success" title="Modify"><a ui-sref="search">Cancel</a></button>
                </div>
            </form>

        </div>
    </div>
</div>