<div class="container-fluid">
    <div class="row custom-row1-heading">
        <!--<h3>Heading</h3>-->
        <nav class="navbar navbar-default navbar custom-margin-bottom-0" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong><i class="fa fa-book fa-2x" aria-hidden="true"></i>  Books Management Module</strong></a>
            </div>
        </nav>
    </div>
    <div class="row custom-row2-search">
        <h3><em>Search for Books</em></h3>
        <form name="SearchBookForm" ng-submit="ctrl.search()" autocomplete="off">
            <div class="form-inline">
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title"
                           required ng-model="ctrl.book.title">
                </div>
                &nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="author">Author: </label>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Author"
                           required ng-model="ctrl.book.author">
                </div>
                &nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" title="Search" ng-disabled="SearchBookForm.$invalid">
                        <i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <!--<div class="col-sm-12 col-lg-8 custom-row3-content">-->
        <div class="col-sm-12 col-lg-12 custom-row3-content">
            <!--<h3>Content</h3>-->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Title</th>
                        <th>Author Last Name</th>
                        <th>Author First Name</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="t in ctrl.books">
                        <td><img height="40px" width="30px" src="image/{{t.cover_thumbnail}}"></td>
                        <td>{{t.title}}</td>
                        <td>{{t.author_lastname}}</td>
                        <td>{{t.author_firstname}}</td>
                        <td><a ui-sref="modify({id:t.id})"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div class="col-sm-12 col-lg-4 custom-row3-detail">-->
        <!--<h3>Book detail</h3>-->
        <!--</div>-->
    </div>
</div>